<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<!-- Bar 3 (Title, back button and edit button) -->
<nav th:replace="fragments :: nav3"></nav>


<!-- container -->
<div class="container-fluid container-sm p-5 mb-5 border align-center">

    <!-- grid -->
    <div class="row">
        <div class="col-sm-6">
            <!-- imagine produs -->
            <img class="img-fluid" src="#" alt=" "><\br>
            <span>Imagini: </span><span th:text="${product.image}"></span>
        </div>
        <div class="col-sm-6">
            <!-- tabel detalii produs -->

            <div class="table-responsive">
                <div>
                    <table class="table table-sm table-hover">
                        <thead class="table-light">
                        <tr>
                            <th>Atribut</th>
                            <th>Valoare</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Cod</td>
                            <td th:text="${product.code}"></td>
                        </tr>
                        <tr>
                            <td>Nume</td>
                            <td th:text="${product.name}"></td>
                        </tr>
                        <tr>
                            <td>Pret Euro</td>
                            <td th:text="${product.price}"></td>
                        </tr>
                        <tr>
                            <td>Stoc</td>
                            <td th:text="${product.stock}"></td>
                        </tr>
                        <tr>
                            <td>Stoc disponibil</td>
                            <td th:text="${product.availableStock}"></td>
                        </tr>
                        <tr>
                            <td>Dimensiuni</td>
                            <td th:text="${product.dimensions}"></td>
                        </tr>
                        <tr>
                            <td>Greutate</td>
                            <td th:text="${product.weight}"></td>
                        </tr>
                        <tr>
                            <td>Categorie</td>
                            <td th:text="${product.category.name}"></td>
                        </tr>
                        <tr class="table-secondary">
                            <td>Nume furnizor</td>
                            <td th:text="${product.provider.name}"></td>
                        </tr>
                        <tr>
                            <td>Discount furnizor</td>
                            <td th:text="${product.provider.discount}"></td>
                        </tr>
                        <tr>
                            <td>Termen livrare</td>
                            <td th:text="${product.provider.deliveryTerm}"></td>
                        </tr>
                        <tr>
                            <td>Tara</td>
                            <td th:text="${product.provider.country}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>


</div>

<div class="container-fluid">
    <p>Rezervari:</p>
    <p th:unless="${products} and ${products.size()}">Nici un rezultat.</p>
</div>
<div class="container-fluid">
    <div class="row border">
        <div class="p-2 col-3">Autor</div>
        <div class="p-2 col-5">Detalii</div>
        <div class="p-2 col-1">Cantitate</div>
        <div class="p-2 col-2">Valabilitate</div>
        <div class="p-2 col-1"> ...</div>
    </div>
    <div class=" " th:each="reservation:${reservations}">
        <div class="row border-bottom">
            <div class="p-2 col-3" th:text="${reservation.author}">autor</div>
            <div class="p-2 col-5" th:text="${reservation.details}">detalii</div>
            <div class="p-2 col-1" th:text="${reservation.quantity}">cantitate</div>
            <div class="p-2 col-2" th:text="${reservation.valability}">valabilitate</div>
            <div class="p-2 col-1">
                <a class="p-2" data-bs-toggle="tooltip" title="Edit"
                   th:href="@{/reservation/{id}/edit(id=${reservation.id})}">
                    <i aria-label="detalii" class="bi-arrow-right-square"
                       style="font-size: 1rem; color: info;"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<!-- footer fragment-->
<div th:replace="fragments :: footer"></div>


</body>
</html>
