<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

<!-- head fragment -->
<head th:replace="fragments :: head"></head>

<body>

<!-- container -->
<div class="container-fluid container-sm p-5 my-5 border align-center">

  <h4>Inregistrare user</h4>
  <form action="#" class="was-validated" th:action="@{/addu}" th:object="${user}" method="post">

    <div class="mb-3 mt-3">
      <label for="lastName">Nume:</label>
      <input type="text" class="form-control" th:field="*{lastName}" id="lastName" placeholder="Nume" name="lastName required">
      <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Campul trebuie completat.</div>
    </div>

    <div class="mb-3 mt-3">
      <label for="firstName">Prenume:</label>
      <input type="text" class="form-control" th:field="*{firstName}" id="firstName" placeholder="Prenume" name="firstName required">
      <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Campul trebuie completat.</div>
    </div>

    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="Email" name="email required">
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
      <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Campul trebuie completat.</div>
    </div>


    <!-- to be mapped to the controller -->
    <div class="mb-3">
      <label for="pwd">Parola:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Parola" name="pswd required">
      <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Campul trebuie completat.</div>
    </div>
      <div class="mb-3">
      <label for="pwd2">Parola:</label>
      <input type="password" class="form-control" id="pwd2" placeholder="Confirmare parola" name="pswd required">
      <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Campul trebuie completat.</div>
    </div>

    <p> Ai deja cont? Autentifica-te <a href="autentificare.html">aici.</a></p>
    <button type="submit" class="btn btn-primary">Inregistrare</button>
  </form>
</div>




<!-- footer fragment-->
<div th:replace="fragments :: footer"></div>


</body>
</html>
