<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap CSS | Bootstrap Icons | local CSS/JS scripts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
<!--    <script type="text/javascript" th:src="@{/js/script.js"></script>-->

    <title th:text="${title}">Administrare</title>
</head>

<body>

<!-- Navbar 1 -->
<nav class="navbar navbar-expand-sm navbar-light bg-info shadow-sm sticky-top" th:fragment="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="bi-lightbulb-fill" style="font-size: 1rem; color: yellow;"
                                            role="img" aria-label="Stergere"></i></a>

        <!-- Navbar toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" th:href="@{/}">Acasa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/list" th:href="@{/user/list}">Users</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Adaugare
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{product/add}">Produs</a></li>
                        <li><a class="dropdown-item" href="#">Furnizor</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Import</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Export</a>
                </li>
            </ul>
            <form class="d-flex" action="user/login.html">
                <button class="btn btn-outline-secondary me-2 btn-sm" type="submit">Autentificare</button>
            </form>
            <form class="d-flex" action="user/logout.html">
                <button class="btn btn-outline-dark btn-sm" type="submit">Deconectare</button>
            </form>
        </div>
    </div>
</nav>

<!-- Bar 2 (Title, back button and edit button-hidden>>) -->
<div class="container-fluid container-sm px-5 py-2 my-2 border-bottom align-center" th:fragment="nav2">

    <div class="d-flex justify-content-around">
        <div class="p-2">
            <a class="float-start" data-bs-toggle="tooltip" title="Mergi la pagina anterioara"
               onclick="history.go(-1)">
                <i aria-label="back" class="bi-arrow-left-square"
                   style="font-size: 1.5rem; color: info;"></i>
            </a>
        </div>
        <div class="p-2">
            <span th:text="${title}" style="font-size: 1.3rem; color: grey;">Titlu</span>
        </div>
<!--        hidden element -->
        <div class="p-2 hid" >
            <a class="float-end" data-bs-toggle="tooltip" title="Editare"
               th:href="@{/product/update/{id}(id=${product.id})}">
                <i aria-label="Editare" class="bi-pencil-square"
                   style="font-size: 1.5rem; color: info;"></i>
            </a>
        </div>
    </div>
</div>

<!-- Bar 3 (Title, back button and edit button) -->
<div class="container-fluid container-sm px-5 py-2 my-2 border-bottom align-center" th:fragment="nav3">

    <div class="d-flex justify-content-around">
        <div class="p-2">
            <a class="float-start" data-bs-toggle="tooltip" title="Mergi la pagina anterioara"
               onclick="history.go(-1)">
                <i aria-label="back" class="bi-arrow-left-square"
                   style="font-size: 1.5rem; color: info;"></i>
            </a>
        </div>
        <div class="p-2">
            <span th:text="${title}" style="font-size: 1.3rem; color: grey;">Titlu</span>
        </div>
        <div class="p-2">
            <a class="px-2" data-bs-toggle="tooltip" title="Editare"
               th:href="@{/product/update/{id}(id=${product.id})}">
                <i aria-label="Editare" class="bi-pencil-square"
                   style="font-size: 1.5rem; color: info;"></i>
            </a>
            <a class="float-end px-2" data-bs-toggle="tooltip" title="Stergere"
               onclick="return confirm('Esti sigur ca doresti stergerea?')"
               th:href="@{/product/delete/{id}(id=${product.id})}">
                <i aria-label="Stergere" class="bi-trash"
                   style="font-size: 1.5rem; color: red;"></i>
            </a>
        </div>
    </div>
</div>


<!-- pagination -->
<div class="container-sm mt-2" th:fragment="pagination">
    <ul class="pagination pagination-sm justify-content-center" style="margin:20px 0">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>

<!-- footer -->
<div th:fragment="footer">
    <div class=" mt-5 p-3 bg-info text-grey text-center">
        <p>
            &copy; 2022 Ionut Neda
        </p>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</div>

</body>

</html>