<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<!-- Navbar fragment -->
<nav th:replace="fragments :: nav"></nav>


<!-- container Search -->
<div class="container-fluid p-5 my-5 border">

    <!-- sectiune search si Categorii / toggle switches -->

    <div class="row align-items-end">
        <div class="col-sm-3 ">
            <form class="row gy-2 gx-3 align-items-center ">
                <div class="d-inline-flex">
                    <input class="form-control" id="autoSizingInput" placeholder="Search" type="text">
                    <button class="btn btn-primary" type="search">Search</button>
                </div>
            </form>

            <div class="input-group mb-3 ">
                <input class="form-control" placeholder="Search" type="text">
                <button class="btn btn-success" type="submit">Go</button>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-check form-switch">
                <input class="form-check-input" id="inStockSwitch" name="inStock" type="checkbox" value="yes">
                <label class="form-check-label" for="inStockSwitch">In stoc</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" id="bandaLedSwitch" name="bandaLed" type="checkbox" value="yes">
                <label class="form-check-label" for="bandaLedSwitch">Banda LED</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" id="driversSwitch" name="drivers" type="checkbox" value="yes">
                <label class="form-check-label" for="driversSwitch">Alimentatoare</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" id="profilesSwitch" name="profiles" type="checkbox" value="yes">
                <label class="form-check-label" for="profilesSwitch">Profiluri</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-check form-switch">
                <input class="form-check-input" id="inStockSwitch" name="inStock" type="checkbox" value="yes">
                <label class="form-check-label" for="inStockSwitch">In stoc</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" id="bandaLedSwitch" name="bandaLed" type="checkbox" value="yes">
                <label class="form-check-label" for="bandaLedSwitch">Banda LED</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" id="driversSwitch" name="drivers" type="checkbox" value="yes">
                <label class="form-check-label" for="driversSwitch">Alimentatoare</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" id="profilesSwitch" name="profiles" type="checkbox" value="yes">
                <label class="form-check-label" for="profilesSwitch">Profiluri</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-check form-switch">
                <input class="form-check-input" id="inStockSwitch" name="inStock" type="checkbox" value="yes">
                <label class="form-check-label" for="inStockSwitch">In stoc</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" id="bandaLedSwitch" name="bandaLed" type="checkbox" value="yes">
                <label class="form-check-label" for="bandaLedSwitch">Banda LED</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" id="driversSwitch" name="drivers" type="checkbox" value="yes">
                <label class="form-check-label" for="driversSwitch">Alimentatoare</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" id="profilesSwitch" name="profiles" type="checkbox" value="yes">
                <label class="form-check-label" for="profilesSwitch">Profiluri</label>
            </div>
        </div>
    </div>

</div>

<p>Produse:</p>
<p th:unless="${products} and ${products.size()}">Nici un rezultat.</p>
<!-- sectiune Tabel -->
<div class="table-responsive">
    <div>
        <table class="table table-sm table-hover">
            <thead class="table-light">
            <tr>
                <th>Cod</th>
                <th>Nume Produs</th>
                <th>Pret Euro</th>
                <th>Imagini</th> <!-- link -->
                <th>Stoc</th>
                <th>Stoc disponibil</th>
                <!--                        <th >Rezervari</th>-->
                <th>Furnizor</th>
                <!--                        <th >Termen</th>-->
<!--                <th>Detalii</th>-->
                <th>Editare</th>
                <th>Stergere</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.code}">cod</td>
                <td th:text="${product.name}">nume</td>
                <td th:text="${product.price}">pret</td>
                <td th:text="${product.image}">link</td>
                <td th:text="${product.stock}">16</td>
                <td th:text="${product.stock}">10</td>
                <!--   <td th:text="${product.reservations}">link</td>-->
                <td th:text="${product.provider.name}">provider</td>
                <!--   <td th:text="${product.providerId.deliveryTerm}">3 saptamani</td>-->
<!--                <a th:href=@"{/product/{id}(id=${product.id}"> detalii </a>-->

                <td>
                    <button class="btn" data-bs-toggle="tooltip" title="Editare" type="submit">
                        <a th:href="@{/edit/{id}(id=${product.id})}">
                            <i aria-label="Editare" class="bi-pen" role="img"
                               style="font-size: 1.1rem; color: blue;"></i>
                        </a>
                    </button>
                </td>

                <td>
                    <button class="btn" data-bs-toggle="tooltip" title="Stergere" type="submit">
                        <i aria-label="Stergere" class="bi-trash" role="img"
                           style="font-size: 1.1rem; color: red;"></i>
                    </button>
                </td>
                <!-- varianta ok, cu text
                <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
                 -->

            </tr>
            </tbody>
        </table>
    </div>

</div>


<!-- sectiune Pagination -->
<div class="container-sm mt-2">
    <ul class="pagination pagination-sm justify-content-center" style="margin:20px 0">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>

<!-- footer fragment-->
<div th:replace="fragments :: footer"></div>


</body>

</html>